/* tango with adaptions, Alex */

/* Background */ :root .chroma { background-color: #e6e6ef }
/* Other */ :root .chroma .x { color: #000000 }
/* Error */ :root .chroma .err { color: #a40000 }
/* LineTableTD */ :root .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ :root .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ :root .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ :root .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ :root .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Keyword */ :root .chroma .k { color: #204a87; font-weight: bold }
/* KeywordConstant */ :root .chroma .kc { color: #204a87; font-weight: bold }
/* KeywordDeclaration */ :root .chroma .kd { color: #204a87; font-weight: bold }
/* KeywordNamespace */ :root .chroma .kn { color: #204a87; font-weight: bold }
/* KeywordPseudo */ :root .chroma .kp { color: #204a87; font-weight: bold }
/* KeywordReserved */ :root .chroma .kr { color: #204a87; font-weight: bold }
/* KeywordType */ :root .chroma .kt { color: #204a87; font-weight: bold }
/* Name */ :root .chroma .n { color: #000000 }
/* NameAttribute */ :root .chroma .na { color: #c4a000 }
/* NameBuiltin */ :root .chroma .nb { color: #204a87 }
/* NameBuiltinPseudo */ :root .chroma .bp { color: #3465a4 }
/* NameClass */ :root .chroma .nc { color: #000000 }
/* NameConstant */ :root .chroma .no { color: #000000 }
/* NameDecorator */ :root .chroma .nd { color: #5c35cc; font-weight: bold }
/* NameEntity */ :root .chroma .ni { color: #ce5c00 }
/* NameException */ :root .chroma .ne { color: #cc0000; font-weight: bold }
/* NameFunction */ :root .chroma .nf { color: #000000 }
/* NameFunctionMagic */ :root .chroma .fm { color: #000000 }
/* NameLabel */ :root .chroma .nl { color: #f57900 }
/* NameNamespace */ :root .chroma .nn { color: #000000 }
/* NameOther */ :root .chroma .nx { color: #000000 }
/* NameProperty */ :root .chroma .py { color: #000000 }
/* NameTag */ :root .chroma .nt { color: #204a87; font-weight: bold }
/* NameVariable */ :root .chroma .nv { color: #000000 }
/* NameVariableClass */ :root .chroma .vc { color: #000000 }
/* NameVariableGlobal */ :root .chroma .vg { color: #000000 }
/* NameVariableInstance */ :root .chroma .vi { color: #000000 }
/* NameVariableMagic */ :root .chroma .vm { color: #000000 }
/* Literal */ :root .chroma .l { color: #000000 }
/* LiteralDate */ :root .chroma .ld { color: #000000 }
/* LiteralString */ :root .chroma .s { color: #4e9a06 }
/* LiteralStringAffix */ :root .chroma .sa { color: #4e9a06 }
/* LiteralStringBacktick */ :root .chroma .sb { color: #4e9a06 }
/* LiteralStringChar */ :root .chroma .sc { color: #4e9a06 }
/* LiteralStringDelimiter */ :root .chroma .dl { color: #4e9a06 }
/* LiteralStringDoc */ :root .chroma .sd { color: #8f5902; font-style: italic }
/* LiteralStringDouble */ :root .chroma .s2 { color: #4e9a06 }
/* LiteralStringEscape */ :root .chroma .se { color: #4e9a06 }
/* LiteralStringHeredoc */ :root .chroma .sh { color: #4e9a06 }
/* LiteralStringInterpol */ :root .chroma .si { color: #4e9a06 }
/* LiteralStringOther */ :root .chroma .sx { color: #4e9a06 }
/* LiteralStringRegex */ :root .chroma .sr { color: #4e9a06 }
/* LiteralStringSingle */ :root .chroma .s1 { color: #4e9a06 }
/* LiteralStringSymbol */ :root .chroma .ss { color: #4e9a06 }
/* LiteralNumber */ :root .chroma .m { color: #0000cf; font-weight: bold }
/* LiteralNumberBin */ :root .chroma .mb { color: #0000cf; font-weight: bold }
/* LiteralNumberFloat */ :root .chroma .mf { color: #0000cf; font-weight: bold }
/* LiteralNumberHex */ :root .chroma .mh { color: #0000cf; font-weight: bold }
/* LiteralNumberInteger */ :root .chroma .mi { color: #0000cf; font-weight: bold }
/* LiteralNumberIntegerLong */ :root .chroma .il { color: #0000cf; font-weight: bold }
/* LiteralNumberOct */ :root .chroma .mo { color: #0000cf; font-weight: bold }
/* Operator */ :root .chroma .o { color: #ce5c00; font-weight: bold }
/* OperatorWord */ :root .chroma .ow { color: #204a87; font-weight: bold }
/* Punctuation */ :root .chroma .p { color: #000000; font-weight: bold }
/* Comment */ :root .chroma .c { color: #8f5902; font-style: italic }
/* CommentHashbang */ :root .chroma .ch { color: #8f5902; font-style: italic }
/* CommentMultiline */ :root .chroma .cm { color: #8f5902; font-style: italic }
/* CommentSingle */ :root .chroma .c1 { color: #8f5902; font-style: italic }
/* CommentSpecial */ :root .chroma .cs { color: #8f5902; font-style: italic }
/* CommentPreproc */ :root .chroma .cp { color: #8f5902; font-style: italic }
/* CommentPreprocFile */ :root .chroma .cpf { color: #8f5902; font-style: italic }
/* Generic */ :root .chroma .g { color: #000000 }
/* GenericDeleted */ :root .chroma .gd { color: #a40000 }
/* GenericEmph */ :root .chroma .ge { color: #000000; font-style: italic }
/* GenericError */ :root .chroma .gr { color: #ef2929 }
/* GenericHeading */ :root .chroma .gh { color: #000080; font-weight: bold }
/* GenericInserted */ :root .chroma .gi { color: #00a000 }
/* GenericOutput */ :root .chroma .go { color: #000000; font-style: italic }
/* GenericPrompt */ :root .chroma .gp { color: #8f5902 }
/* GenericStrong */ :root .chroma .gs { color: #000000; font-weight: bold }
/* GenericSubheading */ :root .chroma .gu { color: #800080; font-weight: bold }
/* GenericTraceback */ :root .chroma .gt { color: #a40000; font-weight: bold }
/* GenericUnderline */ :root .chroma .gl { color: #000000; text-decoration: underline }
/* TextWhitespace */ :root .chroma .w { color: #f8f8f8; text-decoration: underline }


/* solarized dark, with adaptions - colors added to many style, so that they are not overriden by the styles above; Alex */

/* Background */ html[data-theme='dark'] .chroma { color: #a3c1c1; background-color: #0f101b }
/* Other */ html[data-theme='dark'] .chroma .x { color: #cb4b16 }
/* Error */ html[data-theme='dark'] .chroma .err { color: #a3c1c1; }
/* LineTableTD */ html[data-theme='dark'] .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ html[data-theme='dark'] .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ html[data-theme='dark'] .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ html[data-theme='dark'] .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #495050 }
/* LineNumbers */ html[data-theme='dark'] .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #495050 }
/* Keyword */ html[data-theme='dark'] .chroma .k { color: #719e07 }
/* KeywordConstant */ html[data-theme='dark'] .chroma .kc { color: #cb4b16 }
/* KeywordDeclaration */ html[data-theme='dark'] .chroma .kd { color: #268bd2 }
/* KeywordNamespace */ html[data-theme='dark'] .chroma .kn { color: #719e07 }
/* KeywordPseudo */ html[data-theme='dark'] .chroma .kp { color: #719e07 }
/* KeywordReserved */ html[data-theme='dark'] .chroma .kr { color: #268bd2 }
/* KeywordType */ html[data-theme='dark'] .chroma .kt { color: #dc322f }
/* Name */ html[data-theme='dark'] .chroma .n { color: #a3c1c1; }
/* NameAttribute */ html[data-theme='dark'] .chroma .na { color: #a3c1c1; }
/* NameBuiltin */ html[data-theme='dark'] .chroma .nb { color: #b58900 }
/* NameBuiltinPseudo */ html[data-theme='dark'] .chroma .bp { color: #268bd2 }
/* NameClass */ html[data-theme='dark'] .chroma .nc { color: #268bd2 }
/* NameConstant */ html[data-theme='dark'] .chroma .no { color: #cb4b16 }
/* NameDecorator */ html[data-theme='dark'] .chroma .nd { color: #268bd2 }
/* NameEntity */ html[data-theme='dark'] .chroma .ni { color: #cb4b16 }
/* NameException */ html[data-theme='dark'] .chroma .ne { color: #cb4b16 }
/* NameFunction */ html[data-theme='dark'] .chroma .nf { color: #268bd2 }
/* NameFunctionMagic */ html[data-theme='dark'] .chroma .fm {color: #a3c1c1;  }
/* NameLabel */ html[data-theme='dark'] .chroma .nl { color: #a3c1c1; }
/* NameNamespace */ html[data-theme='dark'] .chroma .nn { color: #a3c1c1; }
/* NameOther */ html[data-theme='dark'] .chroma .nx { color: #a3c1c1; }
/* NameProperty */ html[data-theme='dark'] .chroma .py { color: #a3c1c1; }
/* NameTag */ html[data-theme='dark'] .chroma .nt { color: #268bd2 }
/* NameVariable */ html[data-theme='dark'] .chroma .nv { color: #268bd2 }
/* NameVariableClass */ html[data-theme='dark'] .chroma .vc { color: #a3c1c1; }
/* NameVariableGlobal */ html[data-theme='dark'] .chroma .vg { color: #a3c1c1; }
/* NameVariableInstance */ html[data-theme='dark'] .chroma .vi { color: #a3c1c1; }
/* NameVariableMagic */ html[data-theme='dark'] .chroma .vm { color: #a3c1c1; }
/* Literal */ html[data-theme='dark'] .chroma .l { color: #a3c1c1; }
/* LiteralDate */ html[data-theme='dark'] .chroma .ld { color: #a3c1c1; }
/* LiteralString */ html[data-theme='dark'] .chroma .s { color: #2aa198 }
/* LiteralStringAffix */ html[data-theme='dark'] .chroma .sa { color: #2aa198 }
/* LiteralStringBacktick */ html[data-theme='dark'] .chroma .sb { color: #586e75 }
/* LiteralStringChar */ html[data-theme='dark'] .chroma .sc { color: #2aa198 }
/* LiteralStringDelimiter */ html[data-theme='dark'] .chroma .dl { color: #2aa198 }
/* LiteralStringDoc */ html[data-theme='dark'] .chroma .sd { color: #a3c1c1; }
/* LiteralStringDouble */ html[data-theme='dark'] .chroma .s2 { color: #2aa198 }
/* LiteralStringEscape */ html[data-theme='dark'] .chroma .se { color: #cb4b16 }
/* LiteralStringHeredoc */ html[data-theme='dark'] .chroma .sh { color: #a3c1c1; }
/* LiteralStringInterpol */ html[data-theme='dark'] .chroma .si { color: #2aa198 }
/* LiteralStringOther */ html[data-theme='dark'] .chroma .sx { color: #2aa198 }
/* LiteralStringRegex */ html[data-theme='dark'] .chroma .sr { color: #dc322f }
/* LiteralStringSingle */ html[data-theme='dark'] .chroma .s1 { color: #2aa198 }
/* LiteralStringSymbol */ html[data-theme='dark'] .chroma .ss { color: #2aa198 }
/* LiteralNumber */ html[data-theme='dark'] .chroma .m { color: #2aa198 }
/* LiteralNumberBin */ html[data-theme='dark'] .chroma .mb { color: #2aa198 }
/* LiteralNumberFloat */ html[data-theme='dark'] .chroma .mf { color: #2aa198 }
/* LiteralNumberHex */ html[data-theme='dark'] .chroma .mh { color: #2aa198 }
/* LiteralNumberInteger */ html[data-theme='dark'] .chroma .mi { color: #2aa198 }
/* LiteralNumberIntegerLong */ html[data-theme='dark'] .chroma .il { color: #2aa198 }
/* LiteralNumberOct */ html[data-theme='dark'] .chroma .mo { color: #2aa198 }
/* Operator */ html[data-theme='dark'] .chroma .o { color: #719e07 }
/* OperatorWord */ html[data-theme='dark'] .chroma .ow { color: #719e07 }
/* Punctuation */ html[data-theme='dark'] .chroma .p { color: #a3c1c1; }
/* Comment */ html[data-theme='dark'] .chroma .c { color: #586e75 }
/* CommentHashbang */ html[data-theme='dark'] .chroma .ch { color: #586e75 }
/* CommentMultiline */ html[data-theme='dark'] .chroma .cm { color: #586e75 }
/* CommentSingle */ html[data-theme='dark'] .chroma .c1 { color: #586e75 }
/* CommentSpecial */ html[data-theme='dark'] .chroma .cs { color: #719e07 }
/* CommentPreproc */ html[data-theme='dark'] .chroma .cp { color: #719e07 }
/* CommentPreprocFile */ html[data-theme='dark'] .chroma .cpf { color: #719e07 }
/* Generic */ html[data-theme='dark'] .chroma .g { color: #a3c1c1; }
/* GenericDeleted */ html[data-theme='dark'] .chroma .gd { color: #dc322f }
/* GenericEmph */ html[data-theme='dark'] .chroma .ge { font-style: italic }
/* GenericError */ html[data-theme='dark'] .chroma .gr { color: #dc322f; font-weight: bold }
/* GenericHeading */ html[data-theme='dark'] .chroma .gh { color: #cb4b16 }
/* GenericInserted */ html[data-theme='dark'] .chroma .gi { color: #719e07 }
/* GenericOutput */ html[data-theme='dark'] .chroma .go { color: #a3c1c1;  }
/* GenericPrompt */ html[data-theme='dark'] .chroma .gp { color: #a3c1c1; }
/* GenericStrong */ html[data-theme='dark'] .chroma .gs { font-weight: bold }
/* GenericSubheading */ html[data-theme='dark'] .chroma .gu { color: #268bd2 }
/* GenericTraceback */ html[data-theme='dark'] .chroma .gt {color: #a3c1c1;  }
/* GenericUnderline */ html[data-theme='dark'] .chroma .gl { color: #a3c1c1; }
/* TextWhitespace */ html[data-theme='dark'] .chroma .w { color: #a3c1c1; }
